<section>
    <h1>Well this is embarasing... actually no it isn't. We're just students. Everything is okay.</h1>
    <a href="/test">
    <img src="/public/images/restricted.png">
    </a>
    <p class="centeredText">Click the image above to be redirectred to our test site</p>
</section>